PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE User (

    UserName TEXT PRIMARY KEY,

    Email TEXT NOT NULL UNIQUE,

    UserPassword TEXT NOT NULL

, IsAdmin INTEGER DEFAULT 0);
INSERT INTO User VALUES('admin','krajcsovics.christofer1@gmail.com','tVCBnpNuaZJjx8ST6nX+EFxH3+s8VwsJjbyt5JISlms=',1);
INSERT INTO User VALUES('Christofer','zetrus02@gmail.com','GB32n03xAqyCnLXn2MyayRmI0bxkdUQo6OMR9uM6Bj8=',0);
INSERT INTO User VALUES('Test2','christofer.1112233@gmail.com','IHgaZX5H+IwO4iDK59xHpa2EtSbFKusjMxZ0Lnf+3mk=',0);
CREATE TABLE UserAuth (

    UserName TEXT PRIMARY KEY,

    UserSalt TEXT NOT NULL,

    UserHash TEXT NOT NULL,

    FOREIGN KEY (UserName) REFERENCES User(UserName) ON DELETE CASCADE

);
INSERT INTO UserAuth VALUES('admin','+lHjALPzRD2VvGtyAoKdvw==','neq6ZPsjXUBiwZI2fcmmlLTC/oM/XMmdOwwC4jlprrU=');
INSERT INTO UserAuth VALUES('Christofer','DErJhnxFc6ZCrsM7','GB32n03xAqyCnLXn2MyayRmI0bxkdUQo6OMR9uM6Bj8=');
INSERT INTO UserAuth VALUES('Test2','XXaSQKQL5t0O1S9k','IHgaZX5H+IwO4iDK59xHpa2EtSbFKusjMxZ0Lnf+3mk=');
CREATE TABLE Session (

    SessionID TEXT PRIMARY KEY,

    CreationTime INTEGER NOT NULL,

    ExpiryTime INTEGER NOT NULL,

    UserName TEXT NOT NULL,

    FOREIGN KEY (UserName) REFERENCES User(UserName) ON DELETE CASCADE

);
INSERT INTO Session VALUES('bYWBzN62NDFYzph9eaWt',1763112441,1763717241,'admin');
INSERT INTO Session VALUES('wklwEDn0RCXBwawMcQ7v',1764080565,1764685365,'Christofer');
INSERT INTO Session VALUES('NwAg8a4J1oKf4jj3UiPv',1764262089,1764866889,'Christofer');
CREATE TABLE Orders (

    Id INTEGER PRIMARY KEY AUTOINCREMENT,

    OrderId TEXT UNIQUE NOT NULL,

    UserId TEXT NOT NULL,

    UserName TEXT NOT NULL,

    OrderDate TEXT NOT NULL,

    TotalPrice INTEGER NOT NULL,

    Status TEXT NOT NULL DEFAULT 'pending',

    ServiceFee INTEGER NOT NULL DEFAULT 0,

    ItemsCount INTEGER NOT NULL,

    ReservationId TEXT,

    Notes TEXT,

    CreatedAt DATETIME DEFAULT CURRENT_TIMESTAMP

, PaymentMethod TEXT DEFAULT 'card', DeliveryAddress TEXT);
INSERT INTO Orders VALUES(70,'ORD202601191252598248','admin','admin','2026-01-19 12:52:59',35112,'pending',3192,2,'reservation_1768823561167','','2026-01-19 11:52:59','card',NULL);
INSERT INTO Orders VALUES(71,'ORD202601220012013779','Christofer','Christofer','2026-01-22 00:12:01',7480,'pending',680,1,'reservation_1769008078405','','2026-01-21 23:12:01','card',NULL);
INSERT INTO Orders VALUES(72,'ORD202601220020494142','Christofer','Christofer','2026-01-22 00:20:49',12980,'pending',1180,1,'reservation_1769037622525','','2026-01-21 23:20:49','card',NULL);
CREATE TABLE OrderItems (

    Id INTEGER PRIMARY KEY AUTOINCREMENT,

    OrderId TEXT NOT NULL,

    ItemName TEXT NOT NULL,

    ItemDescription TEXT,

    Quantity INTEGER NOT NULL,

    UnitPrice INTEGER NOT NULL,

    TotalPrice INTEGER NOT NULL,

    ConsumptionType TEXT DEFAULT 'restaurant',

    ReservationDate TEXT,

    ReservationTime TEXT,

    FOREIGN KEY (OrderId) REFERENCES Orders(OrderId) ON DELETE CASCADE

);
INSERT INTO OrderItems VALUES(87,'ORD202601191252598248','Tapas H├írmas','H├írom k├╝l├Ânb├Âz┼Ĺ spanyol tapas: gambas al ajillo, patatas bravas ├ęs jam├│n serrano',4,4990,19960,'restaurant','2026. 01. 08.','17:40');
INSERT INTO OrderItems VALUES(88,'ORD202601191252598248','H├║sleves','Finom hazai term├ękekb┼Ĺl el┼Ĺ├íll├ştott',4,2990,11960,'restaurant','2026. 01. 22.','12:00');
INSERT INTO OrderItems VALUES(89,'ORD202601220012013779','Sajttorta - Csokol├íd├ę-meggy Cheesecake','Friss Sajttorta t├Âbb v├ílaszthat├│ ├şzben',2,3400,6800,'restaurant','2026. 02. 02.','12:00');
CREATE TABLE Reservations (

    Id INTEGER PRIMARY KEY AUTOINCREMENT,

    ReservationId TEXT UNIQUE NOT NULL,

    UserId TEXT NOT NULL,

    TableName TEXT NOT NULL,

    TableNumber TEXT,

    TableLocation TEXT,

    Date TEXT NOT NULL,

    Time TEXT NOT NULL,

    Guests INTEGER NOT NULL,

    Status TEXT DEFAULT 'active',

    OrderId TEXT,

    Message TEXT,

    CreatedAt DATETIME DEFAULT CURRENT_TIMESTAMP

, UpdatedAt DATETIME, ExtraServices TEXT);
INSERT INTO Reservations VALUES(28,'RES202601191252412584','admin','Csal├ídi asztal','2',' Belt├ęr','2026-01-22','12:00',4,'ordered','ORD202601191252598248','','2026-01-19 11:52:41','2026-01-19 11:53:01',NULL);
INSERT INTO Reservations VALUES(37,'RES202601211607586067','Christofer','Kerti kil├ít├ís','1',' Kert','2026-02-02','12:00',2,'ordered','ORD202601220012013779','','2026-01-21 15:07:58','2026-01-21 23:12:05',NULL);
INSERT INTO Reservations VALUES(38,'RES202601220020223425','Christofer','Kerti kil├ít├ís','1',' Kert','2026-02-03','16:00',3,'ordered','ORD202601220020494142','','2026-01-21 23:20:22','2026-01-21 23:20:53',NULL);
CREATE TABLE Invoices (

    Id INTEGER PRIMARY KEY AUTOINCREMENT,

    InvoiceNumber TEXT UNIQUE NOT NULL,

    OrderId TEXT NOT NULL,

    UserId TEXT NOT NULL,

    IssueDate TEXT NOT NULL,

    DueDate TEXT,

    TotalAmount INTEGER NOT NULL,

    TaxAmount INTEGER DEFAULT 0,

    Status TEXT DEFAULT 'unpaid',

    PaymentMethod TEXT,

    PaymentDate TEXT,

    Notes TEXT,

    CreatedAt DATETIME DEFAULT CURRENT_TIMESTAMP,

    UpdatedAt DATETIME DEFAULT CURRENT_TIMESTAMP,

    FOREIGN KEY (OrderId) REFERENCES Orders(OrderId),

    FOREIGN KEY (UserId) REFERENCES User(UserName)

);
CREATE TABLE SchemaVersion (

    Version INTEGER PRIMARY KEY,

    AppliedAt DATETIME DEFAULT CURRENT_TIMESTAMP

);
INSERT INTO SchemaVersion VALUES(1,'2026-01-07 10:32:57');
CREATE TABLE ClosedDays (

    Id INTEGER PRIMARY KEY AUTOINCREMENT,

    Date TEXT NOT NULL UNIQUE,

    Reason TEXT,

    ClosedBy TEXT,

    IsActive INTEGER DEFAULT 1,

    CreatedAt TEXT NOT NULL,

    UpdatedAt TEXT,

    ReopenedAt TEXT,

    ReopenedBy TEXT

);
INSERT INTO ClosedDays VALUES(1,'2026-01-23','Sz├╝let├ęsnap','admin',1,'2026-01-19 16:31:24','2026-01-19 16:31:24',NULL,NULL);
INSERT INTO ClosedDays VALUES(2,'2026-01-26',replace('C├ęges rendezv├ęny\n','\n',char(10)),'admin',1,'2026-01-19 16:52:38','2026-01-19 16:52:38',NULL,NULL);
INSERT INTO ClosedDays VALUES(3,'2026-01-25','C├ęges rendezv├ęny','admin',1,'2026-01-19 23:01:27',NULL,NULL,NULL);
CREATE TABLE Reviews (

    Id INTEGER PRIMARY KEY AUTOINCREMENT,

    UserId TEXT NOT NULL,

    UserName TEXT NOT NULL,

    Rating INTEGER NOT NULL CHECK (Rating >= 1 AND Rating <= 5),

    ReviewText TEXT NOT NULL,

    Date DATETIME DEFAULT CURRENT_TIMESTAMP,

    IsActive BOOLEAN DEFAULT 1,

    Email TEXT

);
CREATE TABLE Roles (

    Id INTEGER PRIMARY KEY AUTOINCREMENT,

    Name TEXT NOT NULL UNIQUE,

    DisplayName TEXT NOT NULL,

    Description TEXT,

    CreatedAt DATETIME DEFAULT CURRENT_TIMESTAMP

);
INSERT INTO Roles VALUES(1,'admin','Adminisztr├ítor','Teljes hozz├íf├ęr├ęssel rendelkez┼Ĺ adminisztr├ítor','2026-04-30 16:43:03');
INSERT INTO Roles VALUES(2,'user','Felhaszn├íl├│','Bejelentkezett felhaszn├íl├│','2026-04-30 16:43:03');
INSERT INTO Roles VALUES(3,'guest','Vend├ęg','Nem bejelentkezett vend├ęg','2026-04-30 16:43:03');
CREATE TABLE Permissions (

    Id INTEGER PRIMARY KEY AUTOINCREMENT,

    Name TEXT NOT NULL UNIQUE,

    DisplayName TEXT NOT NULL,

    Category TEXT,

    Description TEXT,

    CreatedAt DATETIME DEFAULT CURRENT_TIMESTAMP

);
INSERT INTO Permissions VALUES(1,'product.view','Term├ękek megtekint├ęse','Term├ęk','Term├ękek list├íz├ísa ├ęs r├ęszletei','2026-04-30 16:43:03');
INSERT INTO Permissions VALUES(2,'product.create','Term├ęk l├ętrehoz├ísa','Term├ęk','├Üj term├ęk felv├ętele','2026-04-30 16:43:03');
INSERT INTO Permissions VALUES(3,'product.edit','Term├ęk szerkeszt├ęse','Term├ęk','Term├ęk adatainak m├│dos├şt├ísa','2026-04-30 16:43:03');
CREATE TABLE RolePermissions (

    Id INTEGER PRIMARY KEY AUTOINCREMENT,

    RoleId INTEGER NOT NULL,

    PermissionId INTEGER NOT NULL,

    CreatedAt DATETIME DEFAULT CURRENT_TIMESTAMP,

    FOREIGN KEY (RoleId) REFERENCES Roles(Id) ON DELETE CASCADE,

    FOREIGN KEY (PermissionId) REFERENCES Permissions(Id) ON DELETE CASCADE,

    UNIQUE(RoleId, PermissionId)

);
INSERT INTO RolePermissions VALUES(1,1,18,'2026-04-30 16:43:03');
INSERT INTO RolePermissions VALUES(2,1,17,'2026-04-30 16:43:03');
INSERT INTO RolePermissions VALUES(3,1,7,'2026-04-30 16:43:03');
CREATE TABLE UserRoles (

    Id INTEGER PRIMARY KEY AUTOINCREMENT,

    UserId TEXT NOT NULL,

    RoleId INTEGER NOT NULL,

    AssignedBy TEXT,

    AssignedAt DATETIME DEFAULT CURRENT_TIMESTAMP,

    FOREIGN KEY (UserId) REFERENCES User(UserName) ON DELETE CASCADE,

    FOREIGN KEY (RoleId) REFERENCES Roles(Id) ON DELETE CASCADE,

    UNIQUE(UserId, RoleId)

);
INSERT INTO UserRoles VALUES(1,'admin',1,'system','2026-04-30 16:43:03');
INSERT INTO UserRoles VALUES(2,'AETHRA',2,'system','2026-04-30 16:43:03');
INSERT INTO UserRoles VALUES(3,'Bal├ízs',2,'system','2026-04-30 16:43:03');
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('Orders',125);
INSERT INTO sqlite_sequence VALUES('OrderItems',172);
INSERT INTO sqlite_sequence VALUES('Reservations',110);
CREATE INDEX idx_reservations_user ON Reservations(UserId);
CREATE INDEX idx_reservations_date ON Reservations(Date);
CREATE INDEX idx_orders_user ON Orders(UserId);
CREATE INDEX idx_orders_date ON Orders(OrderDate);
CREATE INDEX idx_orderitems_order ON OrderItems(OrderId);
CREATE INDEX idx_reservations_order ON Reservations(OrderId);
CREATE INDEX idx_invoices_user ON Invoices(UserId);
CREATE INDEX idx_invoices_order ON Invoices(OrderId);
CREATE INDEX idx_invoices_status ON Invoices(Status);
CREATE INDEX idx_closeddays_date_active ON ClosedDays(Date, IsActive);
CREATE INDEX IX_Reviews_UserId ON Reviews(UserId);
CREATE INDEX IX_Reviews_Date ON Reviews(Date);
CREATE INDEX IX_Reviews_Rating ON Reviews(Rating);
CREATE INDEX IX_Reviews_IsActive ON Reviews(IsActive);
COMMIT;
